@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/fonts.css";
@import "../styles/animations.css";

@font-face {
  .font-pretendard {
    font-family: var(--font-pretendard);
  }
  .font-black-han-sans {
    font-family: var(--font-black-han-sans);
  }
  .font-nanum-square {
    font-family: var(--font-nanum-square);
  }
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-pretendard: 'Pretendard', sans-serif;
  --font-black-han-sans: 'Black Han Sans', sans-serif;
  --font-nanum-square: 'NanumSquare', sans-serif;
  --font-thesignature: 'Thesignature', sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-beige: var(--beige);
  --color-olive: var(--olive);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --spacing: 0.25rem;

  --beige: #dcc7aa;
  --olive: #6b8e23;

  --background: #FAF5E9;
  --foreground: #020E1B;
  --card: #FAF5E9;
  --popover: #FAF5E9;

  --primary: #0d542b;
  --primary-foreground: #FAF5E9;
  --secondary: #667c26;
  --accent: #A7D3E0;
  --muted: #FAF5E9;
  
  /* Default header height for mobile */
  --header-height: calc(var(--spacing) * 16);
  --header-height-expanded: calc(var(--spacing) * 16);

  /* Larger header height for desktop */
  @media (width >= 64rem /* 1024px */) {
    --header-height-expanded: calc(var(--spacing) * 36);
  }
}

.scroll-reveal-show {
  @apply translate-y-0 translate-x-0 opacity-100;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    /* outline: 1px solid red !important; */
  }
  body {
    @apply bg-background text-foreground text-balance break-keep overscroll-none;
  }
  h1 {
    @apply font-nanum-square text-4xl md:text-6xl;
  }

  h2 {
    @apply font-nanum-square text-2xl md:text-4xl;
  }

  h3 {
    @apply font-nanum-square text-xl md:text-3xl;
  }

  p {
    @apply font-pretendard text-base md:text-lg;
  }

  .center {
    @apply flex items-center justify-center;
  }

  img {
    @apply pointer-events-none;
  }

  /* main::after {
    @apply w-[180%] h-[180%] fixed left-[-40%] top-[-40%] z-[99999999] opacity-30 pointer-events-none mix-blend-overlay bg-[url('/images/noise.webp')] bg-repeat content-[""] animate-[noise_3s_steps(4)_infinite];
  } */
}
